<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kKeychainItemName</key>
	<string>com.appmonster.Ytubeapp: YouTube</string>
    <key>kMyClientID</key>
    <string>661861717112.apps.googleusercontent.com</string>
    <key>kMyClientSecret</key>
    <string>Xprvp6Jba79Igbs3ciAEdn_y</string>
    <key>key</key>
    <string>AI39si6H5KYXQGs3dqqYHYC7EGDDPhw8J8fbmDHua0Be83oR0hpN5mtBZWnIsxi78skPc6A-uWnvdAJGWmRlI-f1pqj27qol_w</string>
</dict>
</plist>